<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Remover Funcionário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            Confirmar Exclusão
        </div>

        <div class="card-body">
            <p>Deseja remover o funcionário <strong>{{ object.nome }}</strong>?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a href="/app/lista_funcionarios/" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
